@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    min-width: 100vw;
    height: 10000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(188, 229, 255);
}
#root {
    width: 100%;
    height: 100%;
    background-color: rgb(188, 229, 255);
}
